{% extends 'base.html' %}

{% block title %}Dodawanie stolika{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('table_manager') }}">Wróć do managera stolików</a>
    </li>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('db_routes.add_table') }}" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label for="name">Nazwa:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Dodaj</button>
    </form>
{% endblock %}