{% extends 'base.html' %}

{% block title %}Zmiana danych uwierzytelniających{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu') }}">Wróć do menu</a>
    </li>
{% endblock %}

{% block content %}
    <form method="POST" action="/auth/change-admin-credentials">
        <div class="mb-4">
            <div class="mb-2">
                <label for="current-name" class="form-label">Aktualna nazwa użytkownika:</label>
                <input type="text" id="current-name" name="current-name" class="form-control" required>
            </div>
            <div class="mb-2">
                <label for="current-password" class="form-label">Aktualne hasło:</label>
                <input type="password" id="current-password" name="current-password" class="form-control" required>
            </div>
        </div>
        <div class="mb-3">
            <div class="mb-2">
                <label for="new-name" class="form-label">Nowa nazwa użytkownika:</label>
                <input type="text" id="new-name" name="new-name" class="form-control" required>
            </div>
            <div class="mb-2">
                <label for="new-password" class="form-label">Nowe hasło:</label>
                <input type="password" id="new-password" name="new-password" class="form-control" required>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
{% endblock %}