{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll_script.js') }}"></script>
{% endblock %}

{% block title %}Menu{% endblock %}

{% block nav_items %}
    {% if current_user and current_user.role == Role.ADMIN %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('table_manager') }}">Manager stolików</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('orders_manager') }}">Manager zamówień</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('service_requests_manager') }}">Manager próśb</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('db_routes.add_item') }}">Dodaj danie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth_routes.change_admin_credentials') }}">Zmień dane uwierzytelniające</a>
        </li>
    {% endif %}

    {% if current_user and current_user.role == Role.USER %}
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('current_user_order') }}">Moje zamówienie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('service_request') }}">Prośba do obsługi</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    <ul class="list-group">
        {% for item in items %}
            <li class="list-group-item text-center">
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
                <p>Cena: {{ item.price }} zł</p>
                {% if item.image_id %}
                    <img class="img-fluid" src="{{ url_for('db_routes.get_image', image_id=item.image_id) }}">
                {% endif %}

                {% if current_user and current_user.role == Role.ADMIN %}
                    <div class="mt-3">
                        <form method="GET" action="{{ url_for('db_routes.modify_item', item_id=item.id) }}">
                            <button type="submit" class="btn btn-warning" onclick="saveScrollPosition()">Edytuj</button>
                        </form>
                        <form method="POST" action="{{ url_for('db_routes.delete_item', item_id=item.id) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć to danie?');">
                            <button type="submit" class="btn btn-danger" onclick="saveScrollPosition()">Usuń</button>
                        </form>
                    </div>
                {% endif %}

                {% if current_user and current_user.role == Role.USER %}
                    <form method="POST" action="{{ url_for('session_routes.add_to_order', item_id=item.id) }}">
                        <input type="submit" class="btn btn-primary mt-3" value="Dodaj do zamówienia" onclick="saveScrollPosition()"/>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}