<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Menu</title>
    </head>
    <body>
        {% if current_user and current_user.role == Role.ADMIN %}
        <div id="admin-panel">
            <form method="POST" action="{{ url_for('auth_routes.logout') }}">
                <input type="submit" value="Wyloguj">
            </form>
            <a href="/db/add-item">Dodaj danie</a>
            <a href="/table-manager">Manager stołów</a>
            <a href="/orders-manager">Manager zamówień</a>
        </div>
        {% endif %}

        {% if current_user and current_user.role == Role.USER %}
        <div id="user-panel">
            <form method="POST" action="{{ url_for('auth_routes.logout') }}"> <!--LOGOUT FORM FOR USER IS ONLY FOR TESTING, DELETE LATER-->
                <input type="submit" value="Wyloguj">
            </form>
            <a href="/current-user-order">Moje zamówienie</a>
        </div>
        {% endif %}

        <ul>
            {% for item in items %}
            <li>
                <h2>{{ item.name }}</h2>
                <p>{{ item.description }}</p>
                <p>Cena: {{ item.price }} zł</p>
                <img src="{{ url_for('db_routes.get_image', image_id=item.image_id) }}">

                {% if current_user and current_user.role == Role.ADMIN %}
                <form method="GET" action="{{ url_for('db_routes.modify_item', item_id=item._id) }}">
                    <button type="submit">Edytuj</button>
                </form>

                <form method="POST" action="{{ url_for('db_routes.delete_item', item_id=item._id) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć to danie?');">
                    <button type="submit">Usuń</button>
                </form>
                {% endif %}

                {% if current_user and current_user.role == Role.USER %}
                <form method="POST" action="{{ url_for('session_routes.add_to_order', item_id=item._id) }}">
                    <input type="submit" value="Dodaj do zamówienia"/>
                </form>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </body>
</html>