{% extends 'base.html' %}

{% block title %}Edytowanie stolika{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu') }}">Wróć do menu</a>
    </li>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('db_routes.modify_table', table_id=table._id) }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="name" class="form-label">Nazwa:</label>
            <input type="text" id="name" name="name" value="{{ table.name }}" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Zapisz</button>
    </form>
{% endblock %}