<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Manager zamówień</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var statusForms = document.getElementsByClassName("status-form");

                for (var i = 0; i < statusForms.length; i++) {
                    statusForms[i].addEventListener("change", function() {
                        var statusForm = event.target;
                        var orderIndex = parseInt(statusForm.id.match(/\d+/)[0]);
                        var statusForm = statusForm.closest("form");

                        saveScrollPosition();

                        statusForm.submit();
                    });
                }
            });
        </script>
    </head>
    <body>
        <div id="admin-panel">
            <a href="/menu">Wróć do menu</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID zamówienia</th>
                    <th>Nazwa stołu</th>
                    <th>Zamówienie</th>
                    <th>Suma</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.orderer.name }}</td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nazwa dania</th> <!--TODO: make this redirect to a single menu item page for lookup-->
                                        <th>Cena (zł)</th>
                                        <th>Ilość</th>
                                        <th>Dodatkowe uwagi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in order.order_items %}
                                        <tr>
                                            <td>{{ order_item.menu_item.name }}</td>
                                            <td>{{ "{:.2f}".format(order_item.menu_item.price) }}</td>
                                            <td>{{ order_item.count }}</td>
                                            <td>{{ order_item.additional_info }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>{{ "{:.2f}".format(order.price_sum) }}</td>
                        <td>
                            <form id="status-form-{{ loop.index0 }}" class="status-form" method="POST" action="{{ url_for('db_routes.change_order_status', order_id=order.id) }}">
                                <select name="status" id="status-{{ loop.index0 }}">
                                    {% for status in statuses %}
                                        <option value="{{ status.value }}" {% if status == order.status %}selected{% endif %}>{{ status_display_strings[status] }}</option>
                                    {% endfor %}
                                </select>
                            </form>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('db_routes.delete_order', order_id=order.id) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć to zamówienie?');">
                                <button type="submit">Usuń</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>