<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Manager zamówień</title>
    </head>
    <body>
        <div id="admin-panel">
            <a href="/menu">Wróć do menu</a>
        </div>

        <ul>
            {% for order in orders %}
                <li>
                    <h2>{{ order.name }}</h2>
                    <p>{{ item.description }}</p>
                    <p>Cena: {{ item.price }} zł</p>
                    <img src="{{ url_for('db_routes.get_image', image_id=item.image_id) }}">

                    <form method="GET" action="{{ url_for('db_routes.modify_table', table_id=table._id) }}">
                        <button type="submit">Edytuj</button>
                    </form>

                    <form method="POST" action="{{ url_for('db_routes.delete_table', table_id=table._id) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć ten stół?');">
                        <button type="submit">Usuń</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>