{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/service_request_form_script.js') }}"></script>
{% endblock %}

{% block title %}Nowa prośba{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu') }}">Wróć do menu</a>
    </li>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('session_routes.submit_service_request') }}" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="request-type" class="form-label">Rodzaj prośby:</label>
            <select name="request-type" id="request-type" class="form-select">
                {% for type in service_request_types %}
                    <option value="{{ type.value }}">{{ service_request_type_display_strings[type] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label id="custom-info-label" for="custom-info" class="form-label" style="display: none;">Informacje prośby niestandardowej:</label>
            <textarea name="custom-info" id="custom-info" rows="4" cols="50" class="form-control" style="display: none;" disabled></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Wyślij</button>
    </form>
{% endblock %}