{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll_script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/service_requests_manager_script.js') }}"></script>
{% endblock %}

{% block title %}Manager próśb klientów{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu') }}">Wróć do menu</a>
    </li>
{% endblock %}

{% block content %}
    <div class="mb-4">
        <form id="include-finished-service-requests-form" method="POST" action="{{ url_for('session_routes.toggle_include_finished_service_requests') }}">
            <div class="form-check">
                <label class="form-check-label" for="include-finished-service-requests-checkbox">Pokaż zakończone prośby</label>
                <input class="form-check-input" type="checkbox" id="include-finished-service-requests-checkbox" name="include-finished-service-requests-checkbox" {% if session.get('include_finished_service_requests', False) %}checked{% endif %}>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>ID prośby</th>
                <th>Nazwa stołu</th>
                <th>Rodzaj prośby</th>
                <th>Dodatkowe informacje</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for service_request in service_requests %}
                <tr>
                    <td>{{ service_request.id }}</td>
                    <td>{{ service_request.requester.name }}</td>
                    <td>{{ service_request_type_display_strings[service_request.request_type] }}</td>
                    <td>
                        {% if service_request.custom_info %}
                            {{ service_request.custom_info }}
                        {% endif %}
                    </td>
                    <td>
                        <form id="status-form-{{ loop.index0 }}" class="status-form" method="POST" action="{{ url_for('db_routes.change_service_request_status', service_request_id=service_request.id) }}">
                            <select name="status" id="status-{{ loop.index0 }}" class="form-select">
                                {% for status in statuses %}
                                    <option value="{{ status.value }}" {% if status == service_request.status %} selected {% endif %} onclick="saveScrollPosition()">{{ status_display_strings[status] }}</option>
                                {% endfor %}
                            </select>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('db_routes.delete_service_request', service_request_id=service_request.id) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć tę prośbę?');">
                            <button type="submit" class="btn btn-danger" onclick="saveScrollPosition()">Usuń</button> <!--TODO: fix restroring the scroll position-->
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}