{% extends 'base.html' %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/scroll_script.js') }}"></script>
{% endblock %}

{% block title %}Manager stolików{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('menu') }}">Wróć do menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('db_routes.add_table') }}">Dodaj stolik</a>
    </li>
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Kod QR</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for table in tables %}
                <tr>
                    <td>{{ table.id }}</td>
                    <td>{{ table.name }}</td>
                    <td>
                        <a href="{{ url_for('db_routes.get_image', image_id=table.qr_code_image_id) }}" download="qr_{{ table.id }}.png" class="btn btn-link">Pobierz</a>
                    </td>
                    <td>
                        <form method="GET" action="{{ url_for('db_routes.modify_table', table_id=table.id) }}">
                            <button type="submit" class="btn btn-warning" onclick="saveScrollPosition()">Edytuj</button>
                        </form>
                        <form method="POST" action="{{ url_for('db_routes.delete_table', table_id=table.id) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć ten stół?');">
                            <button type="submit" class="btn btn-danger" onclick="saveScrollPosition()">Usuń</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}