<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Table Manager</title>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>
    <body>
        <div id="admin-panel">
            <button id="add-table-button">Add table</button>
        </div>

        <ul>
            {% for table in tables %}
                <li class="table">
                    <h2>Nazwa: {{ table.name }}</h2>
                    <p>ID: {{ table._id }}</p>
                    <img src="{{ url_for('db_routes.get_image', image_id=table.qr_code_image_id) }}">
                    <button class="modify-table-button" table-id="{{ table._id }}">Edytuj</button>
                    <form method="POST" action="{{ url_for('db_routes.delete_table', table_id=table._id) }}">
                        <input class="delete-button" type="submit" value="Delete">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>